# Logs
*.log
*.tlog

# Compilação do Visual Studio
*.obj
*.exe
*.pdb
*.dll
*.tlb
*.tmp
*.csproj.user
*.suo
*.cache
*.ilk
*.userosscache
*.userprefs

# Diretórios de build
bin/
obj/
out/

# Excluir apenas Debug/net8.0
bin/Debug/net8.0/

# Arquivos de configuração de aplicação
appsettings.json
appsettings.Development.json

# Arquivos de pacote
*.nupkg
*.snupkg
packages/

# Configurações locais do Visual Studio
.vscode/
.vs/
*.code-workspace

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.swp
*.swo
.idea/
*.sln.docstates

# Diretórios e arquivos do NuGet
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

# Arquivos temporários
*.temp
*.tmp

# Arquivos de publicação
.publish/
*.publishsettings

# Arquivos gerados pelo Test Explorer
TestResults/

# Secrets e credenciais
secrets.json

# Azure Function e WebJobs
.local.settings.json

# Arquivos de log de depuração
debug.log

appsettings.json
/appsettings.json
